<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="site-head">
    <meta charset="UTF-8"/>

    <!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"-->
    <!--integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>-->

    <!--&lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;-->
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
    <!--integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>-->

    <!--&lt;!&ndash; Optional theme &ndash;&gt;-->
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"-->
    <!--integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>-->
    <!---->
    <!--font awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>

    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

    <meta th:include="this :: head" th:remove="tag"/>
</head>
<body>
<!--<header th:fragment="site-header">-->
<!--<a href="index.html" th:href="@{/}"><img src="../static/img/site-logo.png" th:src="@{/img/site-logo.png}"/></a>-->
<!--<a href="index.html" th:href="@{/}">Strona Głowna</a>-->
<!--<a href="employee.html" th:href="@{/employee}">Pracownicy</a>-->
<!--<a href="patient.html" th:href="@{/patient}">Rejestracja Pacjenta</a>-->
<!--<a href="stocktaking.html" th:href="@{/stocktaking}">Inwentaryzacja</a>-->
<!--<div id="logged-in-info"><span>Hello, <b>user</b></span>-->
<form method="post" th:action="@{/logout}">
<input type="submit" value="Logout"/>
</form>
<!--</div>-->

<!--</header>-->
<nav class="navbar navbar-default navbar-fixed-top navbar-font" th:fragment="site-header">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BRAND</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="employees.html">PRACOWNICY</a></li>
                <li><a href="patients.html" th:href="@{/patients}">PACJENCI</a></li>
                <li class="active"><a href="registerform.html" th:href="@{/register}">REJESTRACJA PACJENTA</a></li>
                <li><a href="inwentaryzacja.html">INWENTARYZACJA</a></li>
                <li>
                    <form th:action="@{/logout}" method="post">
                            <input type="submit" value="WYLOGUJ"/>
                    </form>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<h1>Welcome</h1>
<p>Welcome to the Spring MVC Blog.</p>
<footer th:fragment="site-footer">
    &copy; Spring MVC Blog System, 2016
</footer>
</body>
</html>